@model WorldBuilder.Models.Relationship

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Realtionship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RelationshipID" />
            <div class="form-group">
                <label asp-for="Character1ID" class="control-label"></label>
                <input asp-for="Character1ID" class="form-control" />
                <span asp-validation-for="Character1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character2ID" class="control-label"></label>
                <input asp-for="Character2ID" class="form-control" />
                <span asp-validation-for="Character2ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationshipTypeID" class="control-label"></label>
                <select asp-for="RelationshipTypeID" class="form-control" asp-items="ViewBag.RelationshipTypeID"></select>
                <span asp-validation-for="RelationshipTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
