@model WorldBuilder.Models.World

@{
    ViewData["Title"] = "Delete";
}


<h2>Are you sure you want to delete @Model.Name</h2>
<div>
    <hr />
<p>All created characters, locations and lore will be sent to the void</p>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WorldID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Worlds</a>
    </form>
</div>
