@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to World Builder</h1>
    <a asp-area="" asp-controller="Worlds" asp-action="Create">Click Here to Create Your World</a>
</div>
